
  .mat-form-field {
    flex: 10px;
    margin-right: 40px; /* ניתן לשנות ערך זה לפי הצורך */
  }
.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px; /* רוחב מקסימלי של הטופס */
    margin: 0 auto; /* מרכז את הטופס באופן אופקי */
    padding: 20px;
    background-color:rgba(255, 255, 255,0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* הצללה */
    text-align: center;
    direction: rtl;
  }

  .SignUpForm mat-form-field {
    margin-left: 8px;
  }

  .mat-radio-button {
    margin: 0 12px;
    color: black;
  }
  
  .example-form-fields {
    display: flex;
    align-items: flex-start;
  }
  
.custom-button {
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px; /* גודל הגופן */
    padding: 15px 20px; /* רווחים בין הכפתור לתוכן*/ 
    width: 200px; /* רוחב הכפתור בפיקסלים */
     /* צבע הטקסט */
    border:#000; /* מחיקת גבולות */
    cursor: pointer; /* שינוי לסמן העכבר */
    size:300px;
    background-color: #ff5722; /* צבע מותאם אישית */
    color: rgb(2, 2, 2); /* צבע טקסט */
  }