/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
        /* background-image: url('./assets/pic/goal.jpg'); */
        background-image: url('../assets/pic/goal.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        /* position: fixed;  */
        /* כדי להבטיח שהתמונה תהיה ברקע */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1; /* כדי להבטיח שהתמונה תהיה מאחורי כל האלמנטים */
    
}
