Li{
    border: 1px rgb(165, 165, 251) solid;
    border-radius: 3px;
    margin: 5px;
    width: 200px;
    text-align: center;
}
/* div{
    background-color: pink;
    width: 50%;
    height: 500px;
    margin-left: 25%;
} */