 <div  class="img">
    <br><br><br>
<div class="card" style="margin-left: auto; margin-right: auto; width: 300px; height: 340px; background:none; "  >
<div class="container">
<form #forgetpassword="ngForm" (ngSubmit)=SEmail() >
 
    <br>
  <h2>שכחתי סיסמא</h2>
 <div *ngIf="this.degel1" style="text-align: center;">
 <!-- <div class="form-group">
    <input [(ngModel)]="this.tz" type="text" dir="rtl" class="form-control" placeholder="מספר זהות"
  aria-label="מספר זהות " style="width: 250px; margin-top: 30px; margin-left: 20px;" name="Tz" #Tz="ngModel"
  required maxlength="9" pattern="[0-9]*" (keyup)="s.checkTz(this.tz)" > -->
    <!-- <div [hidden]="s.isValidTz||Tz.pristine" ><p style="color: red;">חובה להזין מספר זהות תקין </p></div> -->
    <!-- </div> -->
    <div class="example-container">
      <mat-form-field>
        <mat-label>הכנס מספר זהות</mat-label>
        <input matInput [(ngModel)]="this.tz" type="text" dir="rtl" placeholder="מספר זהות"
         aria-label="מספר זהות " name="Tz" #Tz="ngModel"
         required maxlength="9" minlength="9" pattern="[0-9]*">
         <mat-error *ngIf="Tz.errors && Tz.errors['required']">שדה חובה</mat-error>
        <mat-error *ngIf="Tz.errors && Tz.errors['minlength']">חובה להזין 9 ספרות</mat-error>
        <!-- <mat-error *ngIf="s.isValidTz">תעודת זהות לא תקינה</mat-error> -->
        <mat-error *ngIf="Tz.errors && Tz.errors['pattern']">חובה להזין רק ספרות</mat-error>
      </mat-form-field>
      <!-- {{Tz.errors | json}} -->
    </div>
    <br>
    <!-- <div class="form-group">
       <input style="width: 250px;  margin-left: 20px;" type="email" dir="rtl" 
       class="form-control" placeholder="דואר אלקטרוני" name="email"id="email"
             [(ngModel)]="this.email" #Email="ngModel"required
       pattern="([0-9a-zA-Z]([_\\.]*[0-9a-zA-Z]+)*)@([0-9a-zA-Z]([-_\\.]*[0-9a-zA-Z]+)*)[\\.]([a-zA-Z]{2,9})$">
       <div [hidden]="Email.valid||Email.pristine"style="color: red;"><p>חובה להזין כתובת דואר תקינה</p></div>
       </div> -->
         <!-- מייל -->
         <div class="example-container">
           <mat-form-field>
             <mat-label>הכנס כתובת מייל</mat-label>
             <input matInput type="email" dir="rtl" 
               placeholder="דואר אלקטרוני" name="email" id="email"
                   [(ngModel)]="email" #Email="ngModel" required
             pattern="([0-9a-zA-Z]([_\\.]*[0-9a-zA-Z]+)*)@([0-9a-zA-Z]([-_\\.]*[0-9a-zA-Z]+)*)[\\.]([a-zA-Z]{2,9})$"
             >
             <mat-error *ngIf="Email.errors && Email.errors['pattern']">חובה להזין כתובת דואר תקינה</mat-error>
           </mat-form-field>
           <!-- {{Email.errors | json}} -->
         </div>
     <br> 
  <!-- <button type="submit" class="custom-button" [disabled]="!forgetpassword.valid || !s.isValidTz" >אישור</button> -->
  <button type="submit" [disabled]="!forgetpassword.valid" class="custom-button">אישור</button>
 </div>
 
</form>
 <div class=" container" *ngIf="degela"   >
    <h4>הזנ/י סיסמא שהתקבלה בדואר האלקטרוני</h4>
 <div *ngIf="this.degel2">
   <form #forgetPasswordStep2="ngForm">
   <div class="example-container">
      <mat-form-field>
        <mat-label>הכנס סיסמא</mat-label>
         <input matInput [(ngModel)]="this.p" type="text" name="P" dir="rtl" placeholder="סיסמא"
         aria-label="סיסמא" maxlength="5" minlength="5" pattern="[0-9]*" #P="ngModel" required/>
         <mat-error *ngIf="P.errors && P.errors['required']">שדה חובה</mat-error>
      </mat-form-field>
      <!-- {{P.errors | json}}
      {{forgetPasswordStep2.errors | json}} -->
    </div>
     <button style="margin-left: 90px;" type="button" class="custom-button" [disabled]="!forgetPasswordStep2.valid" (click)="SPassword()">אישור</button>
   </form>
  </div>
  </div>
 
    <div *ngIf="degelb" >
       <h4> הזנ/י סיסמא חדשה</h4>
  <div>
   <!-- סיסמא -->
   <div class="example-container">
      <mat-form-field>
      <mat-label>הכנס סיסמא חדשה</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="this.newpassword1" placeholder="הזן סיסמא חדשה" required>
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
         <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      </mat-form-field>
   </div>
   <div class="example-container">
      <mat-form-field>
      <mat-label>אימות סיסמא</mat-label>
      <input matInput [type]="hide2 ? 'password' : 'text'" [(ngModel)]="this.newpassword2" placeholder="הזן סיסמא חדשה" required>
      <button type="button" mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
         <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      </mat-form-field>
   </div>
    <!-- <p-password  [(ngModel)]="this.newpassword1" placeholder="הזן סיסמא חדשה" style="width: 200px;margin-left: 50px;margin-top: 30px; text-align: center;">
       <ng-template pTemplate="header">
           <h6>הזן סיסמא חדשה</h6>
       </ng-template>
       <ng-template pTemplate="footer">
           <p class="p-mt-2">הצעות</p>
           <ul dir="rtl" class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5">
               <li>לפחות אות קטנה אחת</li>
               <li>לפחות אות גדולה אחת</li>
               <li>לפחות מספרי אחד</li>
               <li>מינימום 8 תווים</li>
           </ul>
       </ng-template>
   </p-password> -->
   <br><br>
   <!-- <p-password  placeholder="אימות סיסמא" [(ngModel)]="this.newpassword2" [toggleMask]="true" style="width: 170px;margin-left: 40px;margin-top: 30px; text-align: center;"></p-password><br> -->
     <br>
     <button type="button" class="custom-button"  (click)="SnewPassword()">אישור</button>
  </div>
 </div>
 
 </div>
 </div>
 </div>
 

